<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Список товаров</title>
    <!--STOMP-->
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/products.js"></script>
</head>
<body>
<div th:insert="~{fragments/menu :: #nav-menu}"></div>

<table border="1", align="center" id="table">
    <tr>
        <td>Название</td>
        <td>Цена</td>
        <td></td>
    </tr>
    <tr th:each="product : ${products}">
        <td th:text="${product.title}">Гарри Поттер</td>
        <td th:text="${product.price}">1000.00</td>
        <!--Добавляем ссылку на добавление нового товара в корзинку, указывая, что id это id продукта -->
        <td><a th:href="@{/products/{id}/bucket(id=${product.id})}">Добавить в корзину</a></td>
    </tr>
</table>

<form style="text-align: center">
    <table align="center">
        <tr>
            <td>Название</td>
            <td><input type="text" id="title"></td>
        </tr>
        <tr>
            <td>Цена</td>
            <td><input type="number" id="price"></td>
        </tr>
    </table>
    <button id="send" type="submit">Ввод</button>

</form>
</body>
</html>